@page
@using Lab04.Models
@model IndexModel
@{
    ViewData["Title"] = "Portal Stiri";
}

<h1>Portal Stiri</h1>
@{
    int idx = 1;
    foreach(Stire stire in Model.Stiri)
    {
        // id-uri nu se afiseaza in browser, aici este demonstrativ
        // cum putem "imbina" cod C# cu HTML pentru variabila idx
        <h3>Stire @idx</h3>
            <article>
                <p>Titlu: @stire.Titlu</p>
                <p>Lead: @stire.Lead</p>
                <p>Continut: @stire.Continut</p>
                <p>Autor: @stire.Autor</p>
                <p>Categorie: @stire.Categorie!.Nume</p>
            </article>
        <br />
        idx++;
    }
}